.date {
  text-wrap: nowrap;
}

.text {
  word-break: break-all;
}

.rating-and-likes {
  min-width: 140px !important;
  //   margin-left: auto;
}

.movie-poster {
  margin-left: auto;
  max-height: 120px;
}
