<div class="flex flex-column align-items-center p-8">
  <div class="grid about-us-grid">
    <div
      class="col-12 flex flex-column align-items-center justify-content-center mb-8"
    >
      <h1>About Us</h1>
      <mat-divider class="divider"></mat-divider>
      <p class="text-center">
        At Streamline, we aim to connect film lovers with their next favorite
        film. Our mission is to personalize your viewing experience through
        tailored recommendations based on your unique tastes.
      </p>
    </div>
    <div
      class="col-6 flex flex-column align-items-center justify-content-center"
    >
      <h3>
        Discover Your Next Favorite Film with Personalized Recommendations
      </h3>
      <p>
        Streamline offers tailored movie suggestions based on your unique
        tastes. Engage with a community of film lovers by rating, reviewing, and
        sharing your cinematic experiences.
      </p>
    </div>
    <div
      class="col-6 flex flex-column align-items-center justify-content-center"
    >
      <img
        class="w-full"
        src="assets/multiracial-friends-laughing-together-while-sitting-couch.jpg"
        alt="Group enjoying film"
      />
      <p class="text-right w-full">
        Designed by <a href="www.freepik.com">Freepik</a>
      </p>
    </div>
  </div>
</div>
