/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "sass:map";
@use "./app/styles/m3-theme.scss";
@use "./app/navbar/navbar.component-theme" as navbar;
@use "./app/movie-table/movie-table.component-theme" as movie-table;
@include mat.core();

$custom-typography: mat.m2-define-typography-config(
  $font-family: "Lexend",
);
@include mat.typography-hierarchy($custom-typography);

$new-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$violet-palette,
    ),
  )
);

// Define a light theme
$new-light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$violet-palette,
    ),
  )
);

:root {
  @include mat.toolbar-theme(m3-theme.$dark-theme);
  @include mat.all-component-themes(m3-theme.$dark-theme);
  @include mat.system-level-colors(m3-theme.$dark-theme);
  @include mat.system-level-typography(m3-theme.$dark-theme);
  @include navbar.theme(m3-theme.$dark-theme);
  @include movie-table.theme(m3-theme.$dark-theme);

  @media (prefers-color-scheme: light) {
    // Use the `-color` mixins to only apply color styles without reapplying the same
    // typography and density styles.
    @include mat.toolbar-color(m3-theme.$light-theme);
    @include mat.all-component-colors(m3-theme.$light-theme);
    @include mat.system-level-colors(m3-theme.$light-theme);
    @include mat.system-level-typography(m3-theme.$light-theme);
    @include navbar.color(m3-theme.$light-theme);
    @include movie-table.color(m3-theme.$light-theme);
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: var(--mat-app-background-color);
}

// @include mat.color-variants-backwards-compatibility($theme);
