<div class="outer-card" *ngIf="user">
  <div class="profile-card card col-12">
    <img
      class="shadow-2 block xl:block m-auto border-round"
      [src]="getAvatar(user.avatar)"
      [alt]="user.username"
    />
    <div class="font-medium text-3xl text-900 mb-3">{{ user.username }}</div>
    <ul class="list-none p-0 m-0">
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="w-6 md:w-2 font-medium">Date Created</div>
        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
          {{ user.creation_date | date : "mediumDate" }}
        </div>
      </li>
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="w-6 md:w-2 font-medium">Region</div>
        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
          {{ user.region }}
        </div>
      </li>
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="w-6 md:w-2 font-medium">Average Ratings</div>
        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
          {{ average_rating }}
        </div>
      </li>
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="w-6 md:w-2 font-medium">Total Ratings</div>
        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
          {{ user.total_ratings }}
        </div>
      </li>
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="w-6 md:w-2 font-medium">Total Likes</div>
        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
          {{ user.total_likes }}
        </div>
      </li>
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="w-6 md:w-2 font-medium">Total Reviews</div>
        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
          {{ user.total_reviews }}
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="showEdit" class="flex align-items-center justify-content-center">
    <a routerLink="/settings" class="p-button font-bold link-like">
      Edit Settings
    </a>
  </div>

  <div class="col-12">
    <app-review-table
      *ngIf="reviewTableData"
      [data]="reviewTableData"
    ></app-review-table>
  </div>
</div>
