.card {
  padding: 2rem;
}
.hero-image {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  background-position: center;
  aspect-ratio: 16 / 9;
  width: 100%;
  max-height: 60vh;
}

.just-watch-logo {
  width: 80px;
}

.hero-gradient {
  width: 100%;
  background: linear-gradient(
    0deg,
    #171c21,
    rgba(23, 28, 33, 0.879) 6.25%,
    rgba(23, 28, 33, 0.766) 12.5%,
    rgba(23, 28, 33, 0.66) 18.75%,
    rgba(23, 28, 33, 0.563) 25%,
    rgba(23, 28, 33, 0.473) 31.25%,
    rgba(23, 28, 33, 0.391) 37.5%,
    rgba(23, 28, 33, 0.316) 43.75%,
    rgba(23, 28, 33, 0.25) 50%,
    rgba(23, 28, 33, 0.191) 56.25%,
    rgba(23, 28, 33, 0.141) 62.5%,
    rgba(23, 28, 33, 0.098) 68.75%,
    rgba(23, 28, 33, 0.063) 75%,
    rgba(23, 28, 33, 0.035) 81.25%,
    rgba(23, 28, 33, 0.016) 87.5%,
    rgba(23, 28, 33, 0.004) 93.75%,
    rgba(23, 28, 33, 0)
  );
  align-items: end;
  display: flex;
}

.hero-overlay {
  padding: 1rem;
}

.priceLabel {
  font-size: 1rem;
  font-weight: normal;
  display: block;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

// make based on theme
.genreChip {
  display: inline-block;
  line-height: 19px;
  padding: 0 7px;
  color: #4b5563;
  background-color: #f9fafb;
  box-shadow: none;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #e5e7eb;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.watch-provider-logo {
  width: 45px;
}

.container-card {
  border-radius: 0.5rem;
}

.match {
  border-radius: 5px;
  padding: 0 0.1rem;
}

:host ::ng-deep {
  .p-chip-text {
    font-size: 0.875rem;
    line-height: 1;
  }
  .p-multiselect {
    width: 100%;
  }

  .very-highly-rated {
    background-color: #00b300;
    color: #ffffff;
  }

  .highly-rated {
    background-color: #5b9c08;
    color: #ffffff;
  }

  .mixed {
    background-color: #88900c;
    color: #ffffff;
  }

  .badly-rated {
    background-color: #f97316;
    color: #ffffff;
  }

  .very-badly-rated {
    background-color: #b71c1c;
    color: #ffffff;
  }

  .watch-provider-button .p-button {
    padding: 0px !important;
    min-width: 0px;
    border-radius: 0.75rem;
  }
}
