<footer
  class="w-full flex justify-content-center align-items-center gap-2 flex-wrap p-7 footer"
>
  <div
    class="w-full flex flex-row justify-content-center align-items-center gap-2 flex-wrap"
  >
    <p-button [link]="true" label="Home" routerLink="/"></p-button>
    <p-button [link]="true" label="Movies" routerLink="/movies"></p-button>
    <p-button [link]="true" label="About Us" routerLink="/about-us"></p-button>
  </div>
  <div>
    Film data from
    <img class="attribution-logo" src="assets/tmdb_attributation.svg" />. Watch
    provider data from
    <img class="attribution-logo" src="assets/JustWatch_Logo.png" />
  </div>
</footer>
