<ng-container *ngIf="!loading; else spinner">
  <nav
    id="topNavBarContainer"
    class="isNavExpanded ? 'navigation expanded' : 'navigation'"
  >
    <div class="brandLogoDiv">
      <a aria-label="Link to the home page" to="/">
        <img
          class="largeBrandLogo"
          [src]="largeNavBarLogo"
          alt="Ohana homes logo"
        />
      </a>
      <a aria-label="Link to the home page" to="/">
        <img
          class="smallBrandLogo"
          [src]="smallNavBarLogo"
          alt="Ohana homes logo"
        />
      </a>
    </div>
    <div class="navigationMenu">
      <ul>
        <li>
          <a id="moviesButton" class="navBarLink" href="/marketplace?type=buy">
            Example 1
          </a>
        </li>
        <li>
          <a class="navBarLink" href="/marketplace?type=rent"> Rent </a>
        </li>
        <li>
          <a class="navBarLink" href="/aboutUs"> About </a>
        </li>
        <li>
          <a class="navBarLink" href="/contactUs"> Contact </a>
        </li>
      </ul>
    </div>
    <AccountMenu />
    <button
      class="hamburger"
      aria-label="Hamburger button"
      (click)="setIsNavExpanded(!isNavExpanded)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        viewBox="0 0 20 20"
        fill="white"
      >
        <path
          fillRule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
          clipRule="evenodd"
        />
      </svg>
    </button>
  </nav>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
    >
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/movies']">Movies</a>
        <ng-container
          *ngIf="authService.isAuthenticated$ | async; else loggedOut"
        >
          <mat-divider></mat-divider>
          <a *ngIf="user" mat-list-item [routerLink]="['/user', user['_id']]"
            >Account</a
          >
          <mat-list-item>
            <button
              class="authButton"
              mat-flat-button
              (click)="authService.logout()"
            >
              Logout
            </button>
          </mat-list-item>
        </ng-container>
        <ng-template #loggedOut>
          <mat-divider></mat-divider>
          <mat-list-item>
            <button class="authButton" mat-flat-button (click)="login()">
              Login
            </button>
          </mat-list-item>
        </ng-template>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="navBar">
        @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        }
        <img src="/assets/logo-no-background 2.svg" class="navImage" />
      </mat-toolbar>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
<ng-template class="flex justify-content-center" #spinner>
  <p-progressSpinner></p-progressSpinner>
</ng-template>
