@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  .card {
    background: var(--sys-surface);
  }

  .tableHeader {
    background: var(--sys-surface-container);
    color: var(--sys-on-surface);
    border: 1px solid var(--sys-outline-variant) b;
  }

  .tableOuter {
    border: 1px solid var(--sys-outline-variant);
  }

  .tableFilters {
    background: var(--sys-surface-container);
    color: var(--sys-on-surface);
    border: 1px solid var(--sys-outline-variant);
  }

  .tableContent {
    background: var(--sys-surface-container-low);
    color: var(--sys-on-surface);
  }

  .genreChip {
    color: var(--sys-on-surface);
    background-color: var(--sys-outline-variant);
    border: 1px solid #e5e7eb;
  }

  .p-inputtext {
    background: var(--sys-surface-container-high);
    color: var(--sys-on-surface);
    border-color: var(--sys-outline);
  }

  .p-dropdown {
    background: var(--sys-surface-container-high);
    color: var(--sys-on-surface);
    border-color: var(--sys-outline);
  }

  .p-multiselect {
    background: var(--sys-surface-container-high);
    color: var(--sys-on-surface);
    border-color: var(--sys-outline);
  }

  .p-dropdown-panel {
    background-color: var(--mat-menu-container-color);
  }

  .p-input-icon-left,
  .p-paginator button,
  .p-dropdown .p-dropdown-trigger,
  .p-icon {
    color: var(--mat-icon-color);
  }

  .p-multiselect .p-multiselect-label.p-placeholder {
    color: var(--sys-on-surface);
  }

  .p-input-icon-left {
    color: var(--mat-icon-color) !important;
  }

  .p-multiselect .p-multiselect-trigger {
    color: var(--sys-on-surface);
  }

  .p-paginator {
    background: var(--sys-surface-container);
    color: var(--sys-on-surface);
  }

  .no-movies-text {
    color: var(--sys-on-surface);
  }

  .priceSlider {
    color: var(--sys-on-surface);
  }

  .p-slider {
    background-color: var(--sys-on-surface);
  }

  .p-slider-range {
    background: var(--mdc-filled-button-container-color);
  }

  .p-button {
    background: var(--mdc-filled-button-container-color);
    color: var(--mdc-filled-button-label-text-color);
  }
}

@mixin typography($theme) {
  .card {
    // Get the large headline font from the theme.
    font: mat.get-theme-typography($theme, title-medium, font);
  }

  .p-component {
    font-family: var(--sys-body-small-font);
    // font: mat.get-theme-typography($theme, title-medium, font);
    // need to add font family
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }

  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }
}
